<main>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        {{!-- column for side bar --}}
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              <div class="display-4">Groups</div>
            </div>
            <div class="card-body d-flex">
              <div class="w-100 display-5">{{message}}</div>
            </div>
            {{#each groupName}}
            <div class="card-body d-flex">
              <div class="w-100 display-5">{{this}}</div>
              {{!-- Version 1 (without id's in address bar) --}}
              <div class="flex-shrink-1">
                <a href="/manageGroup/:id">Edit</a>
              </div>
              {{!-- Version 1 (with id's in address bar) --}} {{!--
              <div class="flex-shrink-1">
                <a href="/managegroup/{{id}}">Edit</a>
              </div> --}}
            </div>
            {{/each}}
            <div class="card-footer">
              {{!-- Version 1 (without id's in address bar) --}}
              <a href="/createGroup">Create a New Group</a>
              {{!-- Version 2 (with id's in address bar) --}} {{!--
              <a href="/createGroup/{{peopleId}}">Create a New Group</a> --}}

            </div>
            <div class="card-footer">
              {{!-- Version 1 (without id's in address bar) --}}
              <a href="/createEvent">Create a New Event</a>
              {{!-- Version 2 (with id's in address bar) --}} {{!--
              <a href="/createEvent/{{peopleId}}">Create a New Event</a> --}}
            </div>

          </div>
        </div>

        {{!-- column for Your Weekly Line Up --}}
        <div class="wrapper col-md-9">
          <div class="row">
            <h1 class="container display-4">Your Events Line Up</h1>
            {{!--
            <p class="lead-1-md">Line up makes it easy to create events, connect with friends, and remind everyone of those upcoming special events</p>
            --}}
          </div>

          <div id="accordion">
            {{!-- handlebars #each --}} {{#each dbEvents}}
            <div class="card">
              <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapseFour">
                {{!--
                <p>{{this.date}} | {{time}}</p> --}}
                <p>{{moment this.date "weekday"}}, {{moment date=this.date format="MM/DD/YYYY"}} | {{time}}</p>
                {{!--
                <p>{{formatDate date day="numeric" month="long" year="numeric"}} | {{time}}</p> --}}
                <h5 class="mb-0">
                  {{name}} {{this.groupName}}
                </h5>
              </div>
              <div id="collapse{{id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <p>Location: {{location_address}} | {{city}}, {{state}}</p>
                  <p>{{description}}</p>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>
</main>